@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #9ec4fb;
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
  background-color: #02044a;
  padding: 30px;
  border-radius: 8px;
  color: rgb(248, 248, 248);
  width: 850px;
}

h1 {
  text-align: left;
  margin-left: 8px;
}

.contact-container {
  width: 350px;
  float: left;
}
.contacts {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.contact-text {
  margin-left: 8px;
  color: #d0d2eb;
  font-size: 16px;
  text-align: left;
}
.p-text {
  margin-left: 10px;
  color: #9495b3;
  text-align: left;
}
.btn {
  display: flex;
  border: none;
  background-color: transparent;
  margin-bottom: 12px;
  border-radius: 5px;
  width: fit-content;
  font-family: "Muli";
  padding: 0 15px;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  border: 1px #0c75ff solid;
  background-color: #021c3f82;
  transition: 0.3s ease-in;
}

.contact-icon {
  color: #0c75ff;
  font-size: 18px;
  margin-top: 19px;
  margin-right: 10px;
}

.socials {
  height: 90px;
  width: 70%;
  padding-bottom: 20px;
  margin-top: 60px;
}
.socials ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
}

.socials ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 34px;
  margin-left: -20px;
}

.socials ul li a:hover {
  color: #0c75ff;
  transition: 0.5s;
}

.form-container {
  color: #333;
  float: right;
  top: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 28px;
  margin-top: 6px;
  margin-bottom: 0;
  border-radius: 8px;
}

label {
  text-align: left;
  margin-left: 3px;
  margin-bottom: 6px;
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  border: 2px #e0e0e9 solid;
  border-radius: 8px;
}

.icon {
  padding: 10px;
  margin-left: 0;
  margin-right: -10px;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field {
  width: 100%;
  padding: 10px;
  left: 25px;
  text-align: left;
}
.input-field,
textarea {
  border: none;
  padding: 12px;
  border-radius: 8px;
}

textarea {
  color: #222;
  background-color: #f9f9fb;
  resize: none;
}

.input-container:focus-within,
.icon:focus {
  outline: none;
  color: #0c75ff;
  border: 2px #0c75ff solid;
}

textarea:focus {
  outline: none;
  font-family: "Muli";
  font-size: 12px;

  border: 2px #0c75ff solid;
}

textarea::placeholder {
  font-family: "Muli";
}

.sendBtn {
  margin-top: 20px;
  padding: 10px 22px;
  width: fit-content;
  background-color: rgba(187, 187, 187, 0.393);
  margin-left: 206px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.sendBtn:hover {
  background-color: #0c75ff;
  transition: 0.3s;
  color: white;
}

.close-modal {
  position: absolute;
  top: 1px;
  right: 5px;
  font-size: 34px;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.tick {
  position: relative;
  font-size: 80px;
  width: 90px;
  height: 90px;
  margin-top: -50px;
  background-color: #eff0ff;
  border-radius: 50%;
  margin-left: 140px;
  display: flex;
  color: #0c75ff;
  align-items: center;
  justify-content: center;
}

#text {
  font-size: 42px;
  margin-bottom: 20px;
  text-align: center;
}

#p {
  font-size: 20px;
  text-align: center;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;

  background-color: white;
  padding: 8px 20px 8px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  z-index: 10;
  background-color: #eff0ff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
