@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg, #ff9999, #ff9c5f);
  color: white;
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  background-color: #ce4b1b69;
  padding: 20px 40px;
  border-radius: 5px;
}
.container h1 {
  text-align: center;
  margin-bottom: 30px;
}
.container h4 {
  font-style: italic;
  margin-bottom: 10px;
  text-align: left;
  font-size: 14px;
  font-weight: lighter;
}
.container a {
  text-decoration: none;
  color: rgb(244, 213, 213);
}
.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: rgb(255, 170, 131);
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.99);
}

.text {
  margin-top: 25px;
  text-align: center;
}

.form-control {
  position: relative;
  margin: 10px 0 40px;
  width: 300px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: none;
}
