@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans");

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg, #ff9999, #ff9c5f);

  font-family: "Odibee Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
  background-color: rgb(250, 133, 94);
  color: aliceblue;
  padding: 20px 20px 30px 20px;
  border-radius: 25px;
  width: 400px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}

h1 {
  color: #eee;
  font-size: 42px;
  letter-spacing: 3px;
}

p {
  font-size: 18px;
  letter-spacing: 1px;
}
.wrapper {
  background-color: #ef53539d;
  margin: -20px -20px;
  margin-bottom: -30px;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}
.form-control {
  position: relative;
  margin: 10px 0 0;
}

.guessField {
  background-color: #bc1e1e63;
  color: #eee;
  display: block;
  border: 0;
  padding: 10px;
  border-radius: 25px;
  font-size: 14px;
  width: 100%;
}

.form-control .guessField:focus {
  outline: none;
}

.form-control .label {
  position: absolute;
  top: 10px;
  letter-spacing: 1.5px;
  left: 10px;
}

.form-control .label span {
  display: inline-block;
  font-size: 16px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-control .guessField:focus + .label span {
  color: rgb(255, 255, 255);
  transform: translateY(-33px);
}

.guessSubmit {
  background-color: #bc1e1e63;
  color: #eee;
  border: 0;
  font-family: inherit;
  font-size: 24px;
  border-radius: 25px;
  margin-top: 20px;
  padding: 10px 15px;
  cursor: pointer;
  width: 100%;
}

.guessSubmit:focus {
  outline: none;
}

.guessSubmit:hover {
  background-color: #84242463;
  transform: scale(0.95);
}

.lowOrHigh {
  font-size: 18px;
}

#newGame {
  background-color: #bc1e1e63;
  color: #eee;
  border: 0;
  font-family: inherit;
  font-size: 24px;
  border-radius: 25px;
  margin-top: 20px;
  padding: 10px 15px;
  cursor: pointer;
  width: 100%;
}

#newGame:focus {
  outline: none;
}

#newGame:hover {
  background-color: #84242463;
  transform: scale(0.95);
}

h3 {
  letter-spacing: 2.5px;
}
